a[target="_blank"]::after{
    content: url(imagens/newWindow-icon.png);
    margin-left: 1rem;
}

a[href$="pdf"]::before{
    content: url(imagens/pdf-icon.gif);
    margin-right: 1rem;
}

input[id="chk1"] +  label{
    color: red;
}

input[id="chk1"]:checked +  label{
    color: green;
}

input[disabled] + label{
    color: blue;
}

li li:nth-child(3){
    background-color: yellow;
}
